.doctypepicker table.multi {
    max-height: 200px;
    overflow-y: scroll;
    display: block;
    width: 100%;
}

.doctypepicker select {
    width:100%;
}

.doctypepicker .umb-toggle {
    margin-bottom:5px;
}